<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'login/css/yay.css' %}"media="screen" title="no title"  charset="utf-8">
        <meta charset="utf-8">
        <title>Logged In</title>
    </head>
    <body>

        <h1>Success! Welcome, {{request.session.user_username}}!<h1>

        <form class="" action="{% url 'loginApp:logout' %}" method="post">
            {% csrf_token%}
            <input type="submit" name="logout" value="Logout">

        </form>

    </body>
</html>
